---
import { slugify, filterPosts} from '@components/utils.ts'
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
    const blogLocale = 'blog-fr';
    const allPosts = (await getCollection(blogLocale));
    const displayedPosts = filterPosts(allPosts);
    const allTags = [
        ...new Set(displayedPosts.map((post) => post.data.tag).flat()),
    ];
    return allTags.map((tag) => {
        const taggedPosts = displayedPosts.filter((post) => 
            post.data.tag === tag);
        return {
            params: {tag: slugify(tag)},
            props: {
                tagName: tag,
                posts: taggedPosts,
            }
        }
    })
}

const {tag} = Astro.params;
const {posts, tagName} = Astro.props;
---

<p>{tagName}</p>