---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import { locales, type Locales } from '@i18n/locales';

export async function getStaticPaths() {
	return (locales as Locales[]).map((lang) => {
		return {
			params: {lang: lang},
			props: {locale: lang}
		}
	})
}

const { locale } = Astro.props as {locale: string};

//load article info. aliases do not work here.
const loaders = import.meta.glob('/src/content/base/*/index.mdx');
const loader = loaders[`/src/content/base/${locale}/index.mdx`];
const Article = await loader() as any;
---

<!doctype html>
<html lang={locale}>
	<head>
		<BaseHead />
	</head>
	<body>
		<Header />
		<main>
			<article>
                <Article.Content />
            </article>
		</main>
		<Footer />
	</body>
</html>