---
import { locales, type Locales } from '@i18n/locales';
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
//these styles need to be imported because otherwise they are scoped to the content only outside the .md file 
import '@styles/resume.css'

export async function getStaticPaths() {
	return (locales as Locales[]).map((lang) => {
		return {
			params: {lang},
			props: {locale: lang}
		}
	})
}

const { locale } = Astro.props;

//load article info. aliases do not work here.
const loaders = import.meta.glob('/src/content/base/*/resume.md');
const loader = loaders[`/src/content/base/${locale}/resume.md`];
const Article = await loader() as any;
---

<style>
    main {
        line-height: 1.2;
    }
</style>

<html lang={locale}>
	<head>
		<BaseHead />
    </head>
    <body>
        <Header />
        <main>
            <article>
                <Article.Content />
            </article>
        </main>
        <Footer />
    </body>
</html>