---
import { getAlternateLanguageLinks } from '@i18n/utils';
import { languages } from '@i18n/ui';

const currentLocale = Astro.currentLocale;
const currentPath = Astro.url.pathname;

const links = getAlternateLanguageLinks(currentLocale, currentPath);
---

<ul>
  {
    links.map(({ locale, name, url }) => (
      <li>
        <a href={url} lang={locale}>{name}</a>
      </li>
    ))
  }
</ul>
