---
const { currentLocale } = Astro;
---

<link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha512-VLXYHZV6V1m8cI91VznhVuQ2+R8oz5T9T4J0v+NUS6zE1nV/v1V8jqhDk2KvslRmn+o2XzyN73snbqN8XMvL3g=="
    crossorigin=""
/>

<select id="level-selector">
  <option value={2}>Countries</option>
  <option value={4} selected>Regions</option>
  <option value={6}>Cities</option>
  <option value={8}>Districts</option>
</select>

<div id="map" style="height: 400px;" data-locale={currentLocale}></div>

<script
    src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha512-oC1U9nfdzHIGRZ8wvKST0Af/3Eu3uD8/1oDUp+iZ7HJ3lNRz9gT2uOj57fJHlU/yvEqw4ZuZAGjzKc+otDkM3w=="
    crossorigin=""
></script>

<script src="https://unpkg.com/fflate/umd/index.js"></script>

<script type="module">
    import { LeafletInit } from '/src/components/leafletInit.ts';
    const locale = document.getElementById('map').dataset.locale || 'en';
    LeafletInit(locale);
</script>
